body{
	// background-color: red;
}

$slideNumber: 4;


@mixin slide-background{
	$slide: "slide";
	@for $i from 1 through $slideNumber {
		&.#{$slide}-#{$i} {
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-size: cover;
			background-color: #5D5656;
			background-image: url('../images/obj-bg/#{$i}.jpg');
		}
	}
}




.section{
	display: block;
	width: 100%;
	height: 40vh;
	background-color: papayawhip;

	display: flex;
	justify-content: center;
	align-items: center;

	&.header{
		height: 60vh;
		background: url('../images/obj-bg/14.jpg');
		background-size: cover;
		color:white;
	}
	&.intro-1{
		background: url('../images/obj-bg/12.jpg');
		background-size: cover;
		color:white;
	}
	&.intro-2{
		background: url('../images/obj-bg/11.jpg');
		background-size: cover;
		color:white;
	}
	&.intro-3{
		background: url('../images/obj-bg/23.jpg');
		background-size: cover;
		color:white;
	}
	&.footer{
		background: url('../images/obj-bg/13.jpg');
		background-size: cover;
		color:white;
	}

	h1 {
		padding:0;
		margin:0;
	}
}


.slide-section{
	width: 100vw;
	height: 80vh;

	display: flex;
	justify-content: center;
	align-items: center;

	@include slide-background;

	&.slide-1{
		height: 70vh;
	}

	&.slide-2{
		height: 55vh;
	}

	&.slide-3{
		height: 75vh;
	}
	&.slide-4{
		height: 80vh;
	}

}


//slide object group
.sog{
	width: 100%;
	height: 100%;

	padding: 0px;
	margin:0px;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap:wrap;
	overflow: hidden;
	.so {

		display: block;

		margin: 30px;
		// width: 15vh;
		height: 15vh;
	}

}














